.simple-linear {
  background: linear-gradient(#000000 , #3a0ca3);
}

li {
    display: flex;
    flex-direction: row; 
    align-items: left; 
    justify-content: flex;
}

.info-text { 
  margin: 1cm;
  flex-direction: column;   
  width: 500px;
} 

.css-typing {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 40vh;
  }
  
  .css-typing h1 {
    border-right: .15em solid #f7518b ;
    /* font-family: "Courier";
    font-size: 14px; */
    white-space: nowrap;
    overflow: hidden;
  }
  
  .css-typing h1:nth-child(1) {
    width: 3.5em; /*Ancho del efecto de la animación*/
    -webkit-animation: type 1s steps(40, end);
    animation: type 1s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing h1:nth-child(2) {
    width: 8.8em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing h1:nth-child(3) {
    width: 11.2em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end), blink .5s step-end infinite alternate;
    animation: type3 2s steps(40, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid #f7518b;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid #f7518b ;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid #f7518b ;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid #f7518b ;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  @-webkit-keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .pink-text {
    color: #ff66b2;
  }
  
  .div-classes {
    color: white;
    font-size: 14px;
    flex-direction: column; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-family: 'Fira Code', monospace;
  }

  .ul-languages {
    justify-content: flex-start;
    flex-direction: row; 
    display: flex;
    list-style: none;
    padding: 0;
  }

  .li-game-options {
    align-items: center; 
    justify-content: center; 
    width: 175px;
    border-radius: 9999px;
    padding: 0px;
    margin-right: 5px;
    margin-left: 0;
    display: flex;
    list-style: none;

  }

  a {
    font-family: 'Fira Code', monospace;
    width: 150px;
    height: 40px;
    color: white;
    font-size: 14px;
    background-color: #ff66b2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #f7518b;
    border-width: 0.05cm;
    text-decoration: none;
  }

  a:hover {
    background-color: #f7518b;
    text-decoration: none;
  }

  .li-project {
    align-items: center; 
    justify-content: center; 
    width: 75px;
    background-color: #000000;
    border-radius: 9999px;
    padding: 5px;
    margin: 2px;
    display: flex;
    list-style: none;
  }

  .li-larger-project {
    align-items: center; 
    justify-content: center; 
    width: 135px;
    background-color: #000000;
    border-radius: 9999px;
    padding: 5px;
    margin: 2px;
    display: flex;
    list-style: none;
  }

  .img-project {
    border-radius: 5%;
    margin: 1cm;
  }

  .lighter-text {
    color: #f6a9c4;
  }
 
